<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="中考倒计.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="中考倒计.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="中考倒计.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- 本节定义 My.Application.Log 的登录配置-->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- 取消注释以下一节可写入应用程序事件日志-->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information"/>
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
            <!-- 取消注释以下一节并用应用程序名替换 APPLICATION_NAME 可写入应用程序事件日志-->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <中考倒计.My.MySettings>
            <setting name="Width" serializeAs="String">
                <value>400</value>
            </setting>
            <setting name="Height" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="Left" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Top" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WindowTitle" serializeAs="String">
                <value>中考倒计</value>
            </setting>
            <setting name="ClockTitle" serializeAs="String">
                <value>计时器</value>
            </setting>
            <setting name="ClockMTitle" serializeAs="String">
                <value>距离中考还有</value>
            </setting>
            <setting name="SayTitle" serializeAs="String">
                <value>班级宣言</value>
            </setting>
            <setting name="EndDate" serializeAs="String">
                <value>06/14/2021 08:00:00</value>
            </setting>
            <setting name="ColorT" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="ColorD" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="ColorDC" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="ColorTime" serializeAs="String">
                <value>Blue</value>
            </setting>
            <setting name="ColorTC" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="ColorST" serializeAs="String">
                <value>DodgerBlue</value>
            </setting>
            <setting name="ColorSTT" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="ColorMBack" serializeAs="String">
                <value>WhiteSmoke</value>
            </setting>
            <setting name="ColorG1B" serializeAs="String">
                <value>WhiteSmoke</value>
            </setting>
            <setting name="ColorG2B" serializeAs="String">
                <value>WhiteSmoke</value>
            </setting>
            <setting name="G1P" serializeAs="String">
                <value />
            </setting>
            <setting name="G1PY" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SayingN" serializeAs="String">
                <value>\Say.rtf</value>
            </setting>
            <setting name="MTop" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MSM" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MS" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LU" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RU" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MW" serializeAs="String">
                <value>400</value>
            </setting>
            <setting name="MH" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="ML" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="MT" serializeAs="String">
                <value>400</value>
            </setting>
            <setting name="wrong" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DateI" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="first" serializeAs="String">
                <value>True</value>
            </setting>
        </中考倒计.My.MySettings>
        <中考倒计.Settings1>
            <setting name="Width" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Height" serializeAs="String">
                <value>0</value>
            </setting>
        </中考倒计.Settings1>
        <中考倒计.Settings>
            <setting name="Width" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Height" serializeAs="String">
                <value>0</value>
            </setting>
        </中考倒计.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
